.header {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    text-align: left;
    margin-top: 50px;
}

.about {
    font-size: 1.5em;
    text-align: left;
    margin-left: 200px;
    width: 60%;
    font-weight: 500;
    opacity: 0.7;
    /* color: white; */
}

  /* If the screen size is 600px wide or less */
  @media screen and (max-width: 850px) {
    .header {
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
        text-align: left;
    }
    
    .about {
        font-size: 1em;
        text-align: left;
        margin-left: 70px;
        margin-top: 20px;
        width: 70%;
        font-weight: 500;
        opacity: 0.7;
    }
  }

a {
    text-decoration: none;
    color: inherit;
}

/* COLORS */
.data {
    color: #6b76ff;
}

.interests{
    color: #ffe75e;
}

.people {
    color: #ed6663;
}

.listen {
    color:#a3f7bf;
}