@media screen and (min-width: 851px) {
    .menu li {
        display: inline-block;
        margin-right: 50px;
        cursor: pointer;
    }
    
    .menu {
        position: fixed;
        top: 20px;
        right: 50px;
        font-size: 1.2em;
    }
  }
  
  /* If the screen size is 850px wide or less */
  @media screen and (max-width: 850px) {
    .menu li {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .menu {
        position: fixed;
        top: 10px;
        right: 30px;
        font-size: 1em;
    }
  }

  .menu li:hover {
    border-bottom: 5px solid #a3f7bf;
}


