header {
    display: flex;
    height: 50px;
}

.menu li {
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    /* color: #E1BBC9; */
}

.menu {
    margin: 20px 50px 0px auto;
    font-size: 1.2em;
}
  
  /* If the screen size is 850px wide or less */
  @media screen and (max-width: 850px) {
    .menu li {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .menu {
        /* position: fixed; */
        margin-top: 10px;
        margin-right: 50px;
        font-size: 1em;
    }
  }

  .menu li:hover {
    border-bottom: 5px solid #a3f7bf;
}


